<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "ca.solvera.grocerybuddy"
        version   = "2.1.0">
    <name>Grocery Buddy</name>

    <description>
        HTML5 hybrid app developed for the 2013 Solvera PDC UltraHackathon
    </description>

    <author href="http://www.solvera.ca" email="darek.tomyn@solvera.ca">
        Darek Tomyn
    </author>

    <gap:plugin name="ChildBrowser"/>
    <gap:plugin name="BarcodeScanner"/>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.2.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <icon src="icon.png" />

  <!-- NOTE: see https://build.phonegap.com/docs/config-xml for more information about this file -->
    <!--<feature name="http://api.phonegap.com/1.0/camera"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/contacts"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/file"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/geolocation"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/media"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/network"/>-->
    <!--<feature name="http://api.phonegap.com/1.0/notification"/>-->
</widget>
